header {
    background-image: url(../images/topbg.jpg);
    background-repeat: repeat-x;
    background-position: top center;
    min-height: 637px;
    position: relative;
    font-family: "BebasRegular";
}
header a{
    color: #FFF;
}
.top_line{
    min-height: 97px;
    -webkit-box-shadow: rgba(255,255,255,3) 0 0 0 1px;
    box-shadow: rgba(255,255,255,3) 0 0 0 1px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.65);
}
.top_address{
    padding-left: 60px;
    background-image: url(../images/topmap.png);
    background-repeat: no-repeat;
    background-position: center left;
}
.top_address strong{
    display: block;
    color: #d12f22;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 31px;
}
.top_address {
    font-size: 21px;
    border-bottom: #fff dashed 1px;
}
