header {
    background-image: url(../images/topbg.jpg);
    background-repeat: repeat-x;
    background-position: top center;
    min-height: 637px;
    position: relative;
    font-family: "BebasBold";
}
header a{
    color: #FFF;
}
.top_line{
    min-height: 97px;
    -webkit-box-shadow: rgba(255,255,255,3) 0 0 0 1px;
    box-shadow: rgba(255,255,255,3) 0 0 0 1px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.65);
    padding: 22px 0px;
}
.top_line a{
    font-size: 21px;
    border-bottom: #fff inset 1px;
    -webkit-transform: all .25s;
    -o-transform: all .25s;
    transform: all .25s;
}
.top_line a:hover{
    border-bottom: transparent 1px dashed;
}
.top_address{
    padding-left: 40px;
    background-image: url(../images/topmap.png);
    background-repeat: no-repeat;
    background-position: left top;
    line-height: 26px;
}
.top_address strong{
    display: block;
    color: #d12f22;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 31px;
}


