header {
    background-image: url(../images/topbg.jpg);
    background-repeat: repeat-x;
    background-position: top center;
    min-height: 637px;
    position: relative;
    font-family: "BebasBold";
}
header a{
    color: #FFF;
}
.top_line{
    min-height: 97px;
    -webkit-box-shadow: rgba(255,255,255,3) 0 0 0 1px;
    box-shadow: rgba(255,255,255,3) 0 0 0 1px;
    width: 100%;
    background-color: rgba(0,0,0,.65);
    padding: 22px 0px;
}
.top_line a{
    font-size: 21px;
    border-bottom: #fff inset 1px;
    -webkit-transform: all .25s;
    -o-transform: all .25s;
    transform: all .25s;
}
.top_line a:hover{
    border-bottom: transparent 1px dashed;
}
.top_address{
    padding-left: 40px;
    background-image: url(../images/topmap.png);
    background-repeat: no-repeat;
    background-position: left top;
    line-height: 26px;
}
.top_address strong{
    display: block;
    color: #d12f22;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 32px;
}
.top_line .logo{
    position: absolute;
    border-bottom: none;
    margin-top: -20px;
}
.top_line .logo:hover{
    border-bottom: none;
}
.logo_wrap {
    position: relative;
    widht: 240px;
    margin: auto;
    left: 50px;
}

.ta_right{
    background-image: none;
    padding-left: 0;
    text-align: right;
}
.ta_right span{
    color: #fff
}
header h1{
    text-align: center;
    color: #FFF;
    margin-top: 58px;
    font-size: 40px;
    text-shadow: 0 3px rgba(0,0,0,0.55);
    font-family: "BebasRegular";
}
.button{
    display: inline-block;
    background-color: buttonface;
    background-color: #D12F22;
    height: 50px;
    vertical-align: middle;
    padding: 0 25px;
    line-height: 50px;
    font-size: 20px;
    border-bottom: #AC160A 4px solid;
}
.button:hover{
    background-color: #E64437;
}
.button:active{
    background-color: #b81609;
}
header .button{
    margin-right: 20px;
}
.st_button{
    line-height: 18px;
    padding-left: 63px;
    padding-top: 7px;
    text-align: left;
    background-image: url(../images/camera-icon.png);
    background-repeat: no-repeat;
    background-position: 8px 8px;
}
.button_top{
    position: absolute;
    width: 100%;
    bottom: 32px;
}