.pb-5 {
	padding-bottom: 2rem;
}
.d-block {
	display: block;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.d-inline-block {
	display: inline-block;
}

.text-white {
	color: white;
}

.b-none {
	border: none;
}

.p-4{
	padding: 1.5rem;
}

.bg-white {
	background-color: white;
}

.w-100 {
	width: 100%;
}

.my-4 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.form-control {
	min-height: 40px;
	border-radius: 0.25rem;
	display: block;
	border: none;
	box-shadow: 0px 0px 4px grey;
}

.w-75{
	width: 75%;
}